.product-img {
  width: 100%;
  height: 20vmax;
  overflow: hidden;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
  transition: 0.5s;
}

.product-item:hover .product-img img {
  transform: scale(1);
}

.product-item h3,
.product-item h4 {
  color: #fff;
}

.product-item h3 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.2vmax;
  padding: 0.3vmax 0.5vmax;
}

.product-item h4 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1vmax;
  padding: 0.5vmax;
}

.product-slider {
  position: absolute;
  top: 0;
  right: 5%;
  z-index: 1;
  transform: translateX(150%);
  transition: 0.5s;
}

.product-item:hover .product-slider {
  transform: translateX(0);
}

.product-slider ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 1vmax 0;
  font-size: 1.3vmax;
  padding: auto;
  padding: 0.3vmax;
  cursor: pointer;
  border-radius: 0.5vmax;
  transition: 0.5s;
}

.product-slider ul li:hover {
  background-color: #7e1117;
  color: #fff;
}

.product-slider ul li.like {
  color: #ff0000;
}
